@import "tailwindcss";

@theme{
  --color-primary: #6C3BCD;
  --color-secondary: #12112B;
  --color-text: #F3EEF8;
  --color-accent: #DDB04B;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./assets/fonts/CabinetGrotesk.woff2') format('woff2'),
       url('./assets/fonts/CabinetGrotesk.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal;
}

body {
  font-family: 'CabinetGrotesk', sans-serif;
}

@layer base{
  nav a{
    @apply text-text font-medium cursor-pointer;
  }
  button{
    cursor: pointer ;
  }
}
